<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selling.hussienalrubaye.androidselling">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bestoffer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/AddNewUser" />
        <activity
            android:name=".Login"
            android:label="@string/Login" />
        <activity
            android:name=".ControlPanel"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTool"
            android:label="@string/AddForsell" />
        <activity
            android:name=".ToolDescription"
            android:label="@string/offerdetails" />
        <activity
            android:name=".MyTool"
            android:label="@string/mytool" />
        <activity android:name=".SettingAPP"  />
        <activity android:name=".Categories"  android:label="@string/Catgeory"></activity>
    </application>

</manifest>
